/* Styles go here */

#buttonStyle    {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#titleStyle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}

#playersTable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#playersTable td, #playersTable th {
  border: 1px solid #ddd;
  padding: 2px;
}

#playersTable tr:nth-child(even){background-color: #f2f2f2;}

#playersTable th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #ADD8E6;
  color: white;
}
